/* Second Page Css */
.big {
    width: 65%;
    height: 100%;
    float: left;
    background-color: #ffa781;

}
.small {
    width: 34%;
    height: 100%;
    float: left;
    background-color: #5b0e2d;
}
img[r] {
    height:50%;
    margin-top:6%;
    margin-left:28%;
}
h1,p {
    text-align: center;
     }
p {
    color:rgb(131, 10, 131);
    }
h1,h2 {
    color: #5b0e2d;
}
h2 {
    color: #ffa781;
    text-align: center;  
}
 img[b] {
    height:20%;
    width:30%;
    float: right;
    clear:both;
} 
img[t] {
    float:left;
    clear: both;
    height: 38%;
} 
.page {
    border-radius: 10px;
    background-color:  #5b0e2d;
    color: white;
    font-size: 20px;
}